[Desktop Entry]
Encoding=UTF-8
Name=qRFCView
GenericName=qRFCView
Exec=qrfcview
Icon=qrfcview
Type=Application
Comment=Smart viewer for IETF RFCs
Comment[pl]=Przeglądarka dokumentów RFC
Terminal=false
Categories=Qt;Utility;
